body {
    background-color: aliceblue;
    margin: 10px;
    padding: 5px;
}

a {
    margin-left: 25px;
    padding: 8px 20px 8px;
    border: 2px solid silver;
    color: gold;
    background-color: darkblue;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;

}

a:hover {
    color: white;
}

li {
    font-size: 18px;
    margin: 5px;
    text-align: justify;
}

p {
    font-size: 18px;
    max-width: 800px;
    text-align: justify;
}