body {
    max-width: 600px;
    background-color: #000040;
    color: white;
    margin: 0 auto;
    /* text-align: center; */
}

h1 {
    padding: 8px;
    border: 2px solid silver;
    text-align: center;
    margin: 5px;
    background-color: rgb(95, 158, 160, 0.6);
    
}

p {
    font-size: 18px;
}

a {
    color: #ffd700;
    text-decoration: none;
}

 
.list-container {
   display: flex;
   justify-content: center;
}

li {
    margin: 5px;
    font-size: 20px;
}

a:hover {
    color: antiquewhite;
}